* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background: #212121;
}

.menu {
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu_link {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 19px;
}
.subheader .subheader_official {
  opacity: 0.5;
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  margin-top: 6px;
}

.subheader_call {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
  display: block;
  margin-top: 18px;
}

.subheader_phone {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 34px;
}

.subheader_btn {
  margin-top: 12px;
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  min-height: 800px;
  background: url(/img/uber_bg.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 60px;
}

.promo_subheader {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 36px;
  margin-top: 12px;
}

.promo_descr {
  width: 985px;
  height: 173px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.advantages {
  padding: 0 43px 0 33px;
}

.title {
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.advantages_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

h4 {
  width: 113px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: black;
  margin: 20px auto 0 auto;
  padding-top: 5px;
}

.advantages_text {
  width: 343px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #202020;
}
.advantages_text span {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1EACC7;
}

.advantages_img {
  margin-right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 116px;
  height: 116px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #1EACC7;
  border-radius: 50%;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url(/img/mobile_bg.png) center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 88px;
}
.mobile_item_1 {
  background: url(/img/mobile1.png) center center/cover no-repeat;
}
.mobile_item_2 {
  background: url(/img/mobile2.png) center center/cover no-repeat;
}
.mobile_item_3 {
  background: url(/img/mobile3.png) center center/cover no-repeat;
}
.mobile_item_4 {
  background: url(/img/mobile4.png) center center/cover no-repeat;
}
.mobile_item_5 {
  background: url(/img/mobile5.png) center center/cover no-repeat;
}
.mobile_item_6 {
  background: url(/img/mobile6.png) center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000000;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3 all;
  transition: 0.3 all;
}
.mobile_item_plus:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3 all;
  transition: 0.3 all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.app {
  min-height: 898px;
  padding: 54px 190px 137px 191px;
  background: url(/img/bg_app.png) center center/cover no-repeat;
}
.app_img {
  width: 759px;
  height: 480px;
  margin: 54px 191px;
}
.app h4 {
  background: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #070716;
}
.app h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.app .subtitle_app {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.require {
  padding: 68px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0px;
}
.require_title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #1CA8C3;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 10px;
}
.require_list li::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: -32px;
  width: 21px;
  height: 20px;
  background: url(/icons/check_blue.svg) center center/cover no-repeat;
}
.require_descr {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1CA8C3;
}
.require .warning .require_title {
  color: #FF5656;
}
.require .warning .require_list li::before {
  background: url(/icons/check_red.svg) center center/cover no-repeat;
}

.world {
  position: relative;
  padding-top: 46px;
  min-height: 716px;
  background: url(/img/world_bg.png) center center/cover no-repeat;
}
.world_h4 {
  width: 79px;
  height: 27px;
  background: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #070716;
}
.world_title {
  margin-top: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.world_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.world_btn {
  margin: 456px 458px 21.5px 458px;
  width: 223px;
  height: 68px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
  background-color: #070708;
  border: none;
}
.world_btn:hover {
  color: #5da1e6;
}

.footer {
  padding: 14px 23px 39px 23px;
}
.footer a:hover {
  text-decoration: none;
}